---
http_interactions:
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/workflows/
    body:
      encoding: UTF-8
      string: '{"definitionId":12387,"stringVariables":{"projectMetadata":"{\"project\":
        \"</FAILED>\",\"section\": \"</FAILED>\", \"brand\": \"</FAILED>\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://master.dev.nativ-systems.com/api/workflows/21085
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":21085,"name":"workflow-create-project","displayName":"workflow-create-project","href":"https://master.dev.nativ-systems.com/api/workflows/21085","status":"Running","start":"20
        Jun 2016 12:09:23 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Mon, 20 Jun 2016 12:08:45 GMT
recorded_with: VCR 3.0.3
