### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
Gemfile.lock

/.bundle/
config/secrets.yml
/logs/log.txt
integration/
/reports/json/cucumber_report.json
/logs/vcr_log.log

reports/junit.xml

config/logs.txt

*.mp4

scripts/.DS_Store

spec/.DS_Store

test/.DS_Store

.DS_Store
/vcr_cassettes/
