---
http_interactions:
- request:
    method: post
    uri: https://master-flex-qadev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10116,"stringVariables":{"projectMetadata":"{ \"project\":
        \"ujwrlj\", \"section\": \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",
        \"brand\": \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\",
        \"thing-url\": \"http://api.ft.com/things/9fa1521b-fb11-43c8-ac49-be8916cd553f/\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-qadev.ft.com/api/workflows/12136
    body:
      encoding: UTF-8
      string: '{"id":12136,"name":"project-workflow","displayName":"project-workflow","href":"https://master-flex-qadev.ft.com/api/workflows/12136","status":"Running","start":"16
        Nov 2016 17:47:17 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Wed, 16 Nov 2016 17:47:18 GMT
- request:
    method: get
    uri: https://master-flex-qadev.ft.com/api/workflows/12136
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":12136,"name":"project-workflow","displayName":"project-workflow","objectType":{"id":7,"name":"workflow","href":"https://master-flex-qadev.ft.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"externalIds":[],"deleted":false,"href":"https://master-flex-qadev.ft.com/api/workflows/12136","status":"Running","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"16
        Nov 2016 17:47:17 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-qadev.ft.com/api/users/5","accountId":4},"definition":{"id":10116,"uuid":"b799711c-4491-4328-ad72-b1cc89e7bc52","name":"project-workflow","displayName":"project-workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master-flex-qadev.ft.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"href":"https://master-flex-qadev.ft.com/api/workflowDefinitions/10116","enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"15 Nov 2016 11:40:54 +0000","lastModified":"16
        Nov 2016 10:52:52 +0000"},"definitionVersion":6,"created":"16 Nov 2016 17:47:17
        +0000","lastModified":"16 Nov 2016 17:47:17 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-qadev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"11
        Nov 2016 11:43:23 +0000"},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master-flex-qadev.ft.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"10
        Jun 2015 10:26:05 +0000"},"visibility":[]}'
  recorded_at: Wed, 16 Nov 2016 17:47:19 GMT
[...]
