---
http_interactions:
- request:
    method: post
    uri: https://master-flex-qadev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10155,"stringVariables":{"assetMetadata":"{\"section\":\"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",\"brand\":\"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\",\"headline\":\"Hello
        Hello its a headline\",\"long-lead\":\"QA its never a long lead no it is\",\"short-lead\":\"its
        a short QA\",\"link-1\":\"http://link-1\",\"link-1-text\":\"link1 text\",\"link-2\":\"http://link-2\",\"link-2-text\":\"link2
        text\",\"link-3\":\"http://link-3\",\"link-3-text\":\"link3 text\",\"credit\":\"Credit
        goes to Jem of course\",\"office\":\"http://api.ft.com/things/66fc881d-4a93-4672-8d88-1fa86e5ec5a2\",\"producer\":\"http://api.ft.com/things/ce989f93-8572-4136-a0c0-a7bb44f94c7b\",\"video-editor\":\"http://api.ft.com/things/67b8180e-9cb3-4694-8bfd-08b9871bc4d1\",\"freelance-video-editor\":\"Jem
        Rayfield The Video pro\",\"restrictions\":\"true\",\"restriction-description\":\"well
        suspect innit\",\"poster-image\": { \"file-name\":\"test\",\"file-path\":\"https://s3-eu-west-1.amazonaws.com/mio-edit-jemdev/12345/10SecPoster.jpeg\"},\"thumbnail-image\":
        { \"file-name\":\"test\",\"file-path\":\"https://s3-eu-west-1.amazonaws.com/mio-edit-jemdev/12345/10Secthumbnail.jpeg\"},\"brightcove-metadata-tags\":
        [ { \"brightcove-tag\":\"test\" }, { \"brightcove-tag\":\"test2\" } ] }","assetS3Path":"12345/short.MOV","assetTitle":"RestClient
        Agent","brightcovePublish":false,"project-thing-url":"http://api.ft.com/things/05751ceb-cb2a-4c4a-a804-9d830214bb91"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-qadev.ft.com/api/workflows/12157
    body:
      encoding: UTF-8
      string: '{"id":12157,"name":"publish-workflow","displayName":"publish-workflow","href":"https://master-flex-qadev.ft.com/api/workflows/12157","status":"Running","start":"16
        Nov 2016 17:47:35 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Wed, 16 Nov 2016 17:47:37 GMT
recorded_with: VCR 3.0.3
