---
http_interactions:
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10145,"stringVariables":{"assetMetadata":"{\"section\":\"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",\"brand\":\"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\",\"headline\":\"Hello
        Hello its a headline\",\"long-lead\":\"QA its never a long lead no it is\",\"short-lead\":\"its
        a short QA\",\"link-1\":\"http://link-1\",\"link-1-text\":\"link1 text\",\"link-2\":\"http://link-2\",\"link-2-text\":\"link2
        text\",\"link-3\":\"http://link-3\",\"link-3-text\":\"link3 text\",\"credit\":\"Credit
        goes to Jem of course\",\"office\":\"http://api.ft.com/things/66fc881d-4a93-4672-8d88-1fa86e5ec5a2\",\"producer\":\"http://api.ft.com/things/ce989f93-8572-4136-a0c0-a7bb44f94c7b\",\"video-editor\":\"http://api.ft.com/things/67b8180e-9cb3-4694-8bfd-08b9871bc4d1\",\"freelance-video-editor\":\"Jem
        Rayfield The Video pro\",\"restrictions\":\"true\",\"restriction-description\":\"well
        suspect innit\",\"poster-image\": { \"file-name\":\"test\",\"file-path\":\"https://s3-eu-west-1.amazonaws.com/mio-edit-jemdev/12345/10SecPoster.jpeg\"},\"thumbnail-image\":
        { \"file-name\":\"test\",\"file-path\":\"https://s3-eu-west-1.amazonaws.com/mio-edit-jemdev/12345/10Secthumbnail.jpeg\"},\"brightcove-metadata-tags\":
        [ { \"brightcove-tag\":\"test\" }, { \"brightcove-tag\":\"test2\" } ] }","assetS3Path":"12345/10SecondCountdown.mp4","assetTitle":"RestClient
        Agent","brightcovePublish":false,"project-thing-url":"http://api.ft.com/things/0909033"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/11532
    body:
      encoding: UTF-8
      string: '{"id":11532,"name":"publish-workflow","displayName":"publish-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/11532","status":"Completed","start":"26
        Oct 2016 13:55:39 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Wed, 26 Oct 2016 13:55:41 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/workflows/11532
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11532,"name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":7,"name":"workflow","href":"https://master-flex-jemdev.ft.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"externalIds":[],"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/workflows/11532","status":"Completed","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"26
        Oct 2016 13:55:39 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","email":"jem.rayfield@ft.com","accountId":4},"definition":{"id":10145,"uuid":"9ab49788-4e5c-482f-9c13-565d919f4e25","name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master-flex-jemdev.ft.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"href":"https://master-flex-jemdev.ft.com/api/workflowDefinitions/10145","enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"21 Oct 2016 14:19:12 +0000","lastModified":"26
        Oct 2016 10:30:14 +0000"},"definitionVersion":4,"created":"26 Oct 2016 13:55:39
        +0000","lastModified":"26 Oct 2016 13:55:39 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"21
        Oct 2016 14:11:19 +0000"},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master-flex-jemdev.ft.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"10
        Jun 2015 10:26:05 +0000"},"visibility":[]}'
  recorded_at: Wed, 26 Oct 2016 13:55:42 GMT
[...]
