---
http_interactions:
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/workflows/
    body:
      encoding: UTF-8
      string: '{"definitionId":12387,"stringVariables":{"projectMetadata":"{\"project\":
        \"dwhhnj\",\"<section>\": \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",
        \"brand\": \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://master.dev.nativ-systems.com/api/workflows/12680
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":12680,"name":"workflow-create-project","displayName":"workflow-create-project","href":"https://master.dev.nativ-systems.com/api/workflows/12680","status":"Running","start":"26
        May 2016 15:57:03 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Thu, 26 May 2016 15:57:05 GMT
recorded_with: VCR 3.0.3
