---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com//api/metadataDefinitions/11517/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":107837,"name":"ingest-metadata","definition":[{"id":107838,"name":"clip-type","displayName":"Clip
        Type","description":null,"type":"single-option","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":110842,"name":"General
        view","displayName":"General view","default":false,"value":"http://api.ft.com/things/a0e8ca2e-03b4-4321-9b50-4a85b38298cd"},{"id":110843,"name":"Piece
        to camera","displayName":"Piece to camera","default":false,"value":"http://api.ft.com/things/f0935aba-d6f9-4e49-85f1-32e2f010af17"},{"id":110844,"name":"Interview","displayName":"Interview","default":false,"value":"http://api.ft.com/things/36b658bd-486e-4a10-adc8-40585690b73b"},{"id":110845,"name":"Image","displayName":"Image","default":false,"value":"http://api.ft.com/things/eb636ab2-9c0d-4c32-ae[...]
