---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":32277,"uuid":"ea45b59e-a9ef-4341-9635-3017301de587","name":"xxxxx","displayName":"xxxxx","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadataDefinitions/32277","created":"11
        Jul 2016 10:55:19 +0000","lastModified":"15 Jul 2016 12:52:10 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","email":"videyo+test@ft.com","accountId":4},"visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}],"account":{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"revision":"1-546d5f8fe9292420e8986cfc08bc690c43d8c932"},{"id":32276,"uuid":"cab98ec0-6d67-4d67-9e12-76d7145a54dd","name":"xxxx","displayName":"xxxx","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadataDefinitions/32276","created":"11
        Jul 2016 10:46:[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions/11517/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":107837,"name":"ingest-metadata","definition":[{"id":107838,"name":"clip-type","displayName":"Clip
        Type","description":null,"type":"single-option","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":110842,"name":"General
        view","displayName":"General view","default":false,"value":"http://api.ft.com/things/a0e8ca2e-03b4-4321-9b50-4a85b38298cd"},{"id":110843,"name":"Piece
        to camera","displayName":"Piece to camera","default":false,"value":"http://api.ft.com/things/f0935aba-d6f9-4e49-85f1-32e2f010af17"},{"id":110844,"name":"Interview","displayName":"Interview","default":false,"value":"http://api.ft.com/things/36b658bd-486e-4a10-adc8-40585690b73b"},{"id":110845,"name":"Image","displayName":"Image","default":false,"value":"http://api.ft.com/things/eb636ab2-9c0d-4c32-ae[...]
[...]
