---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":15294,"uuid":"f49c8b2c-cc06-4599-9e0a-6852d8cbee39","name":"xxx-metadata","displayName":"xxx-metadata","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadataDefinitions/15294","created":"10
        Jun 2016 11:26:33 +0000","lastModified":"10 Jun 2016 12:25:41 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","email":"videyo@ft.com","accountId":4},"visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}],"account":{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"revision":"1-6662e49dcc631a51a556d5d09f6d1a04d5db5a64"},{"id":11616,"uuid":"4b68859f-dacd-4b85-98c4-38628880e523","name":"publish-metadata-test-baby-two","displayName":"publish-metadata-test-baby-two","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadataDefi[...]
