---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions/11312/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":107565,"name":"project-metadata","definition":[{"id":107566,"name":"project","displayName":"Project","description":null,"type":"text","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":100,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":109494,"name":"thing-url","displayName":"Thing
        URL","description":null,"type":"text","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":100,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":107567,"name":"section","displayName":"Section","description":null,"type":"single-option","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":107568,"name":"Markets
        &amp; Investing","displayName":"Markets &amp; Investing","default":false,"value":"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499"},{"id":107569,"name":"Companies
        &amp; Management","displayName":"Companies &amp; Management","default":false,"value":"http://api.ft.com/things/5eab0a2e-ca2f-4984-b9b8-3e4f95465e93"},{"id":107570,"name":"World
        &amp; Economy","displayName":"World &amp; Economy","default":false,"value":"http://api.ft.com/things/16272492-35fb-449b-8875-dd445b58a5d5"},{"id":107571,"name":"Life
        &amp; Arts","displayName":"Life &amp;[...]
[...]
