---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions/11312/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":107565,"name":"project-metadata","definition":[{"id":107566,"name":"project","displayName":"project
        metadata definition","description":null,"type":"text","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":107567,"name":"section","displayName":"section","description":null,"type":"single-option","multiplicity":"1","searchable":true,"editable":true,"required":false,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":107568,"name":"Markets
        &amp; Investing","displayName":"Markets &amp; Investing","default":false,"value":"Markets
        &amp; Investing"},{"id":107569,"name":"Companies &amp; Management","displayName":"Companies
        &amp; Management","default":false,"value":"Companies &amp; Management"},{"id":107570,"name":"World
        &amp; Economy","displayName":"World &amp; Economy","default":false,"value":"World
        &amp; Economy"},{"id":107571,"name":"Life &amp; Arts","displayName":"Life
        &amp; Arts","default":false,"value":"Life &amp; Arts"}]},{"id":107572,"name":"brand","displayName":"bran[...]
