---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions/11517/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":107837,"name":"ingest-metadata","definition":[{"id":107838,"name":"clip-type","displayName":"Clip
        Type","description":"Clip Type","type":"single-option","multiplicity":"1","searchable":false,"editable":true,"required":false,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":107839,"name":"test","displayName":"test","default":false,"value":"test"}]},{"id":107840,"name":"clip-description","displayName":"Clip
        Description","description":"Clip Description","type":"text","multiplicity":"1","searchable":true,"editable":true,"required":false,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":100,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"com[...]
