---
http_interactions:
- request:
    method: post
    uri: https://master.dev.nativ-systems.com//api/workflows/
    body:
      encoding: UTF-8
      string: '{"definitionId":12387,"stringVariables":{"projectMetadata":"{\"project\":
        \"fzmezn\",\"section\": \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",
        \"brand\": \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://master.dev.nativ-systems.com/api/workflows/29731
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":29731,"name":"workflow-create-project","displayName":"workflow-create-project","href":"https://master.dev.nativ-systems.com/api/workflows/29731","status":"Complete","start":"05
        Jul 2016 09:37:44 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Tue, 05 Jul 2016 09:36:40 GMT
recorded_with: VCR 3.0.3
