---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflows/35079
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":35079,"name":"workflow-create-project","displayName":"workflow-create-project","objectType":{"id":7,"name":"workflow","href":"https://master.dev.nativ-systems.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false},"deleted":false,"href":"https://master.dev.nativ-systems.com/api/workflows/35079","status":"Running","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"12
        Jul 2016 16:17:14 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","email":"videyo+test@ft.com","accountId":4},"definition":{"id":12387,"uuid":"06035926-2479-4f6a-bcfe-0f330d5b2815","name":"workflow-create-project","displayName":"workflow-create-project","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/12387","owner":"masteruser
        masteruser","accountId":4},"definitionVersion":1,"created":"12 Jul 2016 16:17:14
        +0000","lastModified":"12 Jul 2016 16:17:14 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master.dev.nativ-systems.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}}'
  recorded_at: Tue, 12 Jul 2016 16:16:11 GMT
recorded_with: VCR 3.0.3
