---
http_interactions:
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/workflows/
    body:
      encoding: UTF-8
      string: '{"definitionId":13800,"stringVariables":{"assetMetadata":"{ \"clip-type\":\"http://api.ft.com/things/a0e8ca2e-03b4-4321-9b50-4a85b38298cd\",\"clip-description\":
        \"FT Art Birdsong \", \"location\":\"http://api.ft.com/things/f4ef81c6-765c-4f04-a8c7-b637f49f7e61\",\"interviewee\":
        \"Jem Rayfield\",\"office\": \"http://api.ft.com/things/a29a5f4f-b4ff-46f7-b597-a30437783e1e\",\"producer\":
        \"http://api.ft.com/things/a4fda01e-dd90-490b-a7be-7c74eafd3884\",\"freelance-producer\":
        \"James Condron\",\"reporter-1\": \"Darren Bown\", \"restrictions\": \"false\"}","project-thing-url":"https://api.ft.com/thing/5d24e298-c1da-4831-8332-74941875a159","projectUUID":"b0778312-7686-49bc-a720-0551709ad37b","assetS3Path":"b0778312-7686-49bc-a720-0551709ad37b/Missing.mp4","assetTitle":"Missing.mp4"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://master.dev.nativ-systems.com/api/workflows/21041
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":21041,"name":"ingest-raw-workflow-99","displayName":"ingest-raw-workflow-99","href":"https://master.dev.nativ-systems.com/api/workflows/21041","status":"Running","start":"20
        Jun 2016 11:47:22 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Mon, 20 Jun 2016 11:46:44 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflows/21041
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":21041,"name":"ingest-raw-workflow-99","displayName":"ingest-raw-workflow-99","objectType":{"id":7,"name":"workflow","href":"https://master.dev.nativ-systems.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false},"deleted":false,"href":"https://master.dev.nativ-systems.com/api/workflows/21041","status":"Complete","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"20
        Jun 2016 11:47:23 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","email":"videyo@ft.com","accountId":4},"definition":{"id":13800,"uuid":"2ee30010-8c12-4651-8fd6-b95758637480","name":"ingest-raw-workflow-99","displayName":"ingest-raw-workflow-99","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/13800","owner":"masteruser
        masteruser","accountId":4},"definitionVersion":64,"created":"20 Jun 2016 11:47:23
        +0000","lastModified":"20 Jun 2016 11:47:23 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master.dev.nativ-systems.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}}'
  recorded_at: Mon, 20 Jun 2016 11:46:45 GMT
[...]
