---
http_interactions:
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10145,"stringVariables":{"assetMetadata":"{ \"section\":
        \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",\"brand\":
        \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\", \"headline\":
        \"PHEW WHAT A SCORCHER!!\", \"long-lead\": \"its a short lead\", \"short-lead\":
        \"nah its never a long lead no it is\", \"link-1\": \"http://link-1\", \"link-2\":
        \"http://link-2\", \"link-3\": \"http://link-3\", \"credit\": \"Credits?\",
        \"office\": \"http://api.ft.com/things/66fc881d-4a93-4672-8d88-1fa86e5ec5a2\",
        \"producer\": \"http://api.ft.com/things/ce989f93-8572-4136-a0c0-a7bb44f94c7b\",
        \"video-editor\": \"http://api.ft.com/things/67b8180e-9cb3-4694-8bfd-08b9871bc4d1\",
        \"freelance-video-editor\": \"Jem Rayfield The Video pro\", \"restrictions\":
        \"true\", \"restriction-description\": \"Dazzla''s vid\", \"poster-image\":
        { \"file-name\": \"test\", \"file-path\": \"s3://s3-eu-west-1.amazonaws.com/video-final-edit/poster.jpeg\"},
        \"thumbnail-image\": { \"file-name\": \"test\", \"file-path\": \"https://s3-eu-west-1.amazonaws.com/video-final-edit/thumbnail.jpeg\"},
        \"brightcove-metadata\": \"freetext metadata nonsense\" }","project-thing-url":"https://api.ft.com/thing/b0778312-7686-49bc-a720-0551709ad37b","assetS3Path":"2221711291001_4691472776001_4691406811001.mp4","assetTitle":"RestClient
        Agent","brightcovePublish":false}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/12940
    body:
      encoding: UTF-8
      string: '{"id":12940,"name":"publish-workflow","displayName":"publish-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/12940","status":"Running","start":"17
        Oct 2016 11:34:18 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Mon, 17 Oct 2016 11:34:19 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/workflows/12940
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":12940,"name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":7,"name":"workflow","href":"https://master-flex-jemdev.ft.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"externalIds":[],"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/workflows/12940","status":"Running","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"17
        Oct 2016 11:34:19 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","accountId":4},"definition":{"id":10145,"uuid":"7723d49b-c9a7-40ce-b933-6c170a249cdc","name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master-flex-jemdev.ft.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"href":"https://master-flex-jemdev.ft.com/api/workflowDefinitions/10145","enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"19 Sep 2016 11:24:08 +0000","lastModified":"13
        Oct 2016 11:39:04 +0000"},"definitionVersion":51,"created":"17 Oct 2016 11:34:19
        +0000","lastModified":"17 Oct 2016 11:34:19 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master-flex-jemdev.ft.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"10
        Jun 2015 10:26:05 +0000"},"visibility":[]}'
  recorded_at: Mon, 17 Oct 2016 11:34:20 GMT
[...]
