---
http_interactions:
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10106,"stringVariables":{"projectMetadata":"{ \"project\":
        \"cucarn\", \"section\": \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",
        \"brand\": \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\",
        \"thing-url\": \"http://api.ft.com/things/JAMESISADICKb0778312-7686-49bc-a720-0551709ad37b\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/15479
    body:
      encoding: UTF-8
      string: '{"id":15479,"name":"project-workflow","displayName":"project-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/15479","status":"Completed","start":"20
        Oct 2016 13:40:06 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Thu, 20 Oct 2016 13:40:11 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/workflows/15479
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":15479,"name":"project-workflow","displayName":"project-workflow","objectType":{"id":7,"name":"workflow","href":"https://master-flex-jemdev.ft.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"externalIds":[],"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/workflows/15479","status":"Completed","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"20
        Oct 2016 13:40:07 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","email":"jem.rayfield@ft.com","accountId":4},"definition":{"id":10106,"uuid":"e7245f55-5908-45bc-9aef-1560fcb549a3","name":"project-workflow","displayName":"project-workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master-flex-jemdev.ft.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"href":"https://master-flex-jemdev.ft.com/api/workflowDefinitions/10106","enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"19 Sep 2016 11:22:39 +0000","lastModified":"20
        Oct 2016 09:00:33 +0000"},"definitionVersion":57,"asset":{"id":15483,"name":"test-create-project-group-placeholder","displayName":"test-create-project-group-placeholder","type":"Group
        Asset","href":"https://master-flex-jemdev.ft.com/api/assets/15483","variant":{"id":1,"name":"project-variant","href":"https://master-flex-jemdev.ft.com/api/variants/1"},"accountId":4,"workspaceId":3},"created":"20
        Oct 2016 13:40:07 +0000","lastModified":"20 Oct 2016 13:40:07 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master-flex-jemdev.ft.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"10
        Jun 2015 10:26:05 +0000"},"visibility":[]}'
  recorded_at: Thu, 20 Oct 2016 13:40:12 GMT
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10124,"stringVariables":{"assetMetadata":"{ \"clip-type\":\"http://api.ft.com/things/a0e8ca2e-03b4-4321-9b50-4a85b38298cd\",\"clip-description\":
        \"10 Seconds\", \"location\":\"http://sws.geonames.org/6619890/\",\"interviewee\":
        \"Jem Rayfield\",\"office\": \"http://api.ft.com/things/a29a5f4f-b4ff-46f7-b597-a30437783e1e\",\"producer\":
        \"http://api.ft.com/things/a4fda01e-dd90-490b-a7be-7c74eafd3884\",\"freelance-producer\":
        \"James Condron\",\"reporter-1\": \"Darren Bown\", \"reporter-2\":\"Dario
        Villanueva\",\"reporter-3\":\"Jon Best\", \"restrictions\": \"true\", \"restriction-description\":\"Sensitive
        Video....classified top secret\"}","project-thing-url":"http://api.ft.com/things/4444","projectUUID":"e7245f55-5908-45bc-9aef-1560fcb549a3","assetS3Path":"12345/10SecondCountdown.mp4","assetTitle":"10
        seconds"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/15485
    body:
      encoding: UTF-8
      string: '{"id":15485,"name":"ingest-workflow","displayName":"ingest-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/15485","status":"Completed","start":"20
        Oct 2016 13:40:10 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Thu, 20 Oct 2016 13:40:13 GMT
[...]
