---
http_interactions:
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":10126,"uuid":"ef0ad402-7d7f-46f4-aadf-d22e4ccdc33b","name":"publish-metadata-asset","displayName":"publish-metadata-asset","externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/metadataDefinitions/10126","created":"21
        Oct 2016 14:18:14 +0000","lastModified":"21 Oct 2016 14:18:15 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","email":"jem.rayfield@ft.com","accountId":4},"visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"21
        Oct 2016 14:11:19 +0000"}],"account":{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"21
        Oct 2016 14:11:19 +0000"},"revision":"1-3ae7470bcedd0feae6a33aa59518788a82dfe96d","locked":false},{"id":10125,"uuid":"e688ce7f-e112-4c5c-a1d6-58e83b035d49","name":"publish-metadata","displayName":"publish-metadata","externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/metadataDefinitions/10125","created":"21
        Oct 2016 14:18:12 +0000","lastModified":"21 Oct 2016 14:18:13 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","email":"jem.rayfield@ft.co[...]
