---
http_interactions:
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10106,"stringVariables":{"projectMetadata":"{ \"project\":
        \"jfbhda\", \"section\": \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",
        \"brand\": \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\",
        \"thing-url\": \"http://api.ft.com/things/JAMESISADICKb0778312-7686-49bc-a720-0551709ad37b\"}"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/15468
    body:
      encoding: UTF-8
      string: '{"id":15468,"name":"project-workflow","displayName":"project-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/15468","status":"Completed","start":"20
        Oct 2016 13:40:02 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Thu, 20 Oct 2016 13:40:05 GMT
recorded_with: VCR 3.0.3
