---
http_interactions:
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/workflows
    body:
      encoding: UTF-8
      string: '{"definitionId":10124,"stringVariables":{"assetMetadata":"{ \"clip-type\":\"http://api.ft.com/things/a0e8ca2e-03b4-4321-9b50-4a85b38298cd\",\"clip-description\":
        \"10 Seconds\", \"location\":\"http://sws.geonames.org/6619890/\",\"interviewee\":
        \"Jem Rayfield\",\"office\": \"http://api.ft.com/things/a29a5f4f-b4ff-46f7-b597-a30437783e1e\",\"producer\":
        \"http://api.ft.com/things/a4fda01e-dd90-490b-a7be-7c74eafd3884\",\"freelance-producer\":
        \"James Condron\",\"reporter-1\": \"Darren Bown\", \"reporter-2\":\"Dario
        Villanueva\",\"reporter-3\":\"Jon Best\", \"restrictions\": \"true\", \"restriction-description\":\"Sensitive
        Video....classified top secret\"}","project-thing-url":"http://api.ft.com/things/4444","projectUUID":"b0778312-7686-49bc-a720-0551709ad37b","assetS3Path":"12345/10SecondCountdown.mp4","assetTitle":"10
        seconds"}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://master-flex-jemdev.ft.com/api/workflows/10419
    body:
      encoding: UTF-8
      string: '{"id":10419,"name":"ingest-workflow","displayName":"ingest-workflow","href":"https://master-flex-jemdev.ft.com/api/workflows/10419","status":"Completed","start":"24
        Oct 2016 11:11:00 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Mon, 24 Oct 2016 11:11:01 GMT
recorded_with: VCR 3.0.3
