---
http_interactions:
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/workflows/
    body:
      encoding: UTF-8
      string: '{"definitionId":20897,"stringVariables":{"assetMetadata":"{ \"section\":
        \"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499\",\"brand\":
        \"http://api.ft.com/things/d4991c65-5e03-471c-bbba-fdb20d9d1009\", \"headline\":
        \"PHEW WHAT A SCORCHER!!\", \"long-lead\": \"its a short lead\", \"short-lead\":
        \"nah its never a long lead no it is\", \"link-1\": \"http://link-1\", \"link-2\":
        \"http://link-2\", \"link-3\": \"http://link-3\", \"credit\": \"Credits?\",
        \"office\": \"http://api.ft.com/things/66fc881d-4a93-4672-8d88-1fa86e5ec5a2\",
        \"producer\": \"http://api.ft.com/things/ce989f93-8572-4136-a0c0-a7bb44f94c7b\",
        \"video-editor\": \"http://api.ft.com/things/67b8180e-9cb3-4694-8bfd-08b9871bc4d1\",
        \"freelance-video-editor\": \"Jem Rayfield The Video pro\", \"restrictions\":
        \"true\", \"restriction-description\": \"Dazzla''s vid\", \"poster-image\":
        { \"file-name\": \"test\", \"file-path\": \"s3://s3-eu-west-1.amazonaws.com/video-final-edit/poster.jpeg\"},
        \"thumbnail-image\": { \"file-name\": \"test\", \"file-path\": \"https://s3-eu-west-1.amazonaws.com/video-final-edit/thumbnail.jpeg\"},
        \"brightcove-metadata\": \"freetext metadata nonsense\" }","project-thing-url":"https://api.ft.com/thing/b0778312-7686-49bc-a720-0551709ad37b","assetS3Path":"2221711291001_4691472776001_4691406811001.mp4","assetTitle":"RestClient
        Agent","brightcovePublish":false}}'
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://master.dev.nativ-systems.com/api/workflows/26222
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":26222,"name":"publish-workflow","displayName":"publish-workflow","href":"https://master.dev.nativ-systems.com/api/workflows/26222","status":"Running","start":"27
        Jun 2016 09:42:46 +0000","end":null,"owner":"masteruser masteruser","accountId":4,"workspaceId":3}'
  recorded_at: Mon, 27 Jun 2016 09:42:06 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflows/26222
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptNHN0M3J1czNy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":26222,"name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":7,"name":"workflow","href":"https://master.dev.nativ-systems.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false},"deleted":false,"href":"https://master.dev.nativ-systems.com/api/workflows/26222","status":"Running","priority":"Normal","running":true,"ended":false,"cancelled":false,"cancelling":false,"failed":false,"start":"27
        Jun 2016 09:42:47 +0000","end":null,"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","email":"jem.rayfield@gmail.com","accountId":4},"definition":{"id":20897,"uuid":"8a714dac-08fe-4109-a67a-79188b7aeac3","name":"publish-workflow","displayName":"publish-workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/20897","owner":"masteruser
        masteruser","accountId":4},"definitionVersion":85,"created":"27 Jun 2016 09:42:46
        +0000","lastModified":"27 Jun 2016 09:42:47 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master.dev.nativ-systems.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}}'
  recorded_at: Mon, 27 Jun 2016 09:42:07 GMT
[...]
