---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":11616,"uuid":"4b68859f-dacd-4b85-98c4-38628880e523","name":"publish-metadata-test-baby-two","displayName":"publish-metadata-test-baby-two","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadataDefinitions/11616","created":"20
        May 2016 13:30:36 +0000","lastModified":"20 May 2016 13:30:37 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","accountId":4},"visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}],"account":{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"revision":"1-ba9087576ad32ca8d28fa8decf8f4621c7e05207"},{"id":11617,"uuid":"d7985bcd-5aff-4834-ac45-adb88d30c3dd","name":"publish-metadata-test-baby-three","displayName":"publish-metadata-test-baby-three","objectType":{"id":12,"name":"metadata-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/12","displayName":"Metadata
        Definition","pluralName":"Metadata Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/metadata[...]
